on:
  push:
    paths-ignore:
      - README.md
  pull_request:
    types: [ assigned, opened, synchronize, reopened ]

jobs:
  lint:
    name: Check with ktlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/0.44.0/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/

      - run: ktlint

  build-and-upload:
    name: Build and Upload
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Bazelisk
        uses: bazelbuild/setup-bazelisk@v3

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel-${{ matrix.os }}-${{ hashFiles('MODULE.bazel.lock') }}
          restore-keys: |
            bazel-${{ matrix.os }}-

      - name: Build CLI
        run: bazel build --extra_toolchains='//:werror_toolchain' //:Cli
        shell: bash

      - name: Build GUI
        run: bazel build --extra_toolchains='//:werror_toolchain' //:Gui
        shell: bash

      # Should be very quick because it's already built. Just need to package it
      - name: Build GUI deploy JAR (all dependencies bundled)
        run: bazel build //:Gui_deploy.jar
        shell: bash

      # See https://github.com/actions/upload-artifact/issues/92#issuecomment-691767977
      - name: Copy deploy JAR out of symlinked directory
        run: cp bazel-bin/Gui_deploy.jar .
        shell: bash

      - name: Save executable artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "Gui_deploy_${{ matrix.os }}.jar"
          path: Gui_deploy.jar
